/* __________________ RESERVIA CSS___________________ */
/* __________________ Font___________________________ */
@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway/raleway-regular/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway/raleway-regular/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway/raleway-bold/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway/raleway-bold/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*___________________ Minireset CSS__________________ */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*------------------------------------*\
	General
\*------------------------------------*/

body
{
    font-family: 'ralewayregular', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

a
{
    text-decoration:none; 
    list-style: none;
}


/*___________________ Header__________________ */
.container
{
    width: 1340px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.header_contain
{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: rgba(0, 0, 0, 1);
}

header ul
{
    margin-top: 45px;
    margin-left: 700px;
}

header li
{
    display: inline;
    margin-left: 30px;
}

header li a:hover
{
    border-top: 2px solid rgba(0, 101, 252, 1); 
    color: rgba(0, 101, 252, 1);
}

header ul a
{
    padding-top: 44px;
    padding-left: 20px;
    padding-right: 20px;
}

header a
{
    margin-top: 45px;
    color: rgba(0, 0, 0, 1);
}

.register
{
    font-family: 'ralewaybold', sans-serif;
    color: rgba(0, 101, 252, 1);
}

/*___________________ footer__________________ */
footer
{
    background-color: rgba(242, 242, 242, 1);
}

.footer-contain{
    display: flex;
    padding: 48px 0px;
}

.footer-contain .footer-items{
    width: 33.333%;
}

.footer-contain .footer-items h3{
    font-family: 'ralewaybold';
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.footer-contain .footer-items ul li a{
    line-height: 1.9;
    color: #000;
    font-size: 16px;
}

/*___________________ Main____________________ */
/*___________________ Main-Filter_____________ */
main h1
{
    font-family: 'ralewaybold', sans-serif;
    font-size: 23px;
}

main p
{
  font-size: 16px;  
}

/*___________________ Main-Filter Tools_____________ */
.main_filtertool
{
    display: flex;
    padding-top: 20px;
}

.main_filtertool .fa-map-marker-alt
{
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 242, 242, 1);
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
}

.searchingtool
{
    height: 50px;
    width: 235px;
    border-left: none;
    border-right: none;
    border: 1px solid rgba(242, 242, 242, 1);
    color: rgba(0, 0, 0, 1);
    font-family: 'ralewaybold', sans-serif;
    font-size: 18px;
    padding-left: 15px;
}

.searchingtool::placeholder
{
    color: rgba(0, 0, 0, 1);
}

.buttonsearch
{
    border: none;
    font-family: 'ralewaybold', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 101, 252, 1);
    padding-left: 15px;
    padding-right: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*___________________ Main-Filter Options_____________ */
.main_filteroption
{
    padding-top: 40px;
    display: flex;
}

.main_filteroption ul
{
    display: flex;
}

.main_filteroption li
{
    display: flex;
    margin-left: 40px;
    padding-right: 10px;
    border: 3px solid rgba(242, 242, 242, 1);
    border-radius: 60px;
    border-left: none;
}

.main_filteroption .fas
{
    font-size: 20px;
    color: rgba(0, 101, 252, 1);
    width: 50px;
    height: 50px;
    background-color: rgba(222, 235, 255, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_filteroption input
{
    border: none;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'ralewaybold', sans-serif;
    font-size: 18px;
}

.main_filteroption h2
{
    font-family: 'ralewaybold', sans-serif;
    font-size: 18px;
    padding-top: 15px;
}

.main_filteroption input:hover
{
    color: rgba(0, 101, 252, 1);
}

/*___________________ Main-Filter Infos_____________ */
.main_filterinfos
{
    display: flex;
    padding-top: 40px;
    align-items: center;
}

.main_filterinfos .fa-info
{
    margin-right: 15px;
    width: 25px;
    height: 25px;
    border: 3px solid rgba(242, 242, 242, 1);
    border-radius: 50%;
    color: rgba(0, 101, 252, 1);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main_filterinfos p
{
    font-size: 16px;
}
/*___________________ Main_Content_____________ */
.main_content article
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}


/*___________________ Main_Accomodation_____________ */
.main_accomodation
{
    background-color: rgba(242, 242, 242, 1);
    border-radius: 20px;
    width: 65%;
    padding: 45px 35px 45px 35px;
}

.main_accomodation h2
{
    font-family: 'ralewaybold', sans-serif;
    font-size: 22px;
    margin-bottom: 25px;
}

.main_accomodation input
{
    border: none;
    background-color: rgba(242, 242, 242, 1);
    font-family: 'ralewaybold', sans-serif;
    font-size: 18px;
    margin-top: 40px;
}

/*___________________ Main_Accomodation_Article_____________ */
.main_accomodation_article
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main_article
{
    width: 29%;
    background-color: rgba(255, 255, 255, 1);
    padding: 5px 5px 8px 5px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.main_article a
{
    text-decoration: none;
    list-style: none;
    color: rgba(0, 0, 0, 1);
}

.main_article p
{
    text-decoration: none;
    list-style: none;
    color: rgba(0, 0, 0, 1);
    padding-left: 10px;
    font-size: 15px;
}

.main_article img
{
    width: 235px;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.main_article .accomodation_name
{
    font-family: 'ralewaybold', sans-serif;
    font-size: 16px; 
}

.main_article .accomodation_note
{
    font-size: 13px;
    padding-left: 10px;
    padding-top: 3px;
}

.main_article .like
{
    color: rgba(0, 101, 252, 1);
}

.main_article .dislike
{
    color: rgba(217, 217, 217, 1);
}

/*___________________ Main_Aside_Accomodation_____________ */
.main_aside_accomodation
{
    background-color: rgba(242, 242, 242, 1);
    width: 95%;
    border-radius: 15px;
    margin-left: 40px;
}

.aside_accomodation_header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 45px 30px 45px;
    font-family: 'ralewaybold', sans-serif;
    font-size: 22px;
}

.aside_accomodation_header .fas
{
    margin-left: 100px;
}

.main_aside_accomodation_article
{
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.aside_accomodation_article
{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 30px;
}

.aside_accomodation_article a
{
    display: flex;
}

.aside_accomodation_article img
{
    width: 130px;
    height: 135px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.aside_accomodation_name
{
    font-family: 'ralewaybold', sans-serif;
    font-size: 16px;
}

.aside_accomodation_article p
{
    margin-top: 15px;
    color: black;
    padding-left: 20px;
    line-height: 1.9;

}

.aside_accomodation_article .fas
{
    padding-top: 35px;
    font-size: 13px;
}

.aside_accomodation_article .like
{
    color: rgba(0, 101, 252, 1);
}

.aside_accomodation_article .dislike
{
    color: rgba(217, 217, 217, 1);
}